<!--<div class="container">-->
  <%= form_with(model: activity, local: true) do |form| %>
    <% if activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

        <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="row">
      <div class="field">
        <div class="col-md white-text"><%= form.label :date %></div>
        <div class="col-md"><%= form.date_field :date %></div>
      </div>
    </div>
      
    <div class="row mt-3">
      <div class="field">
        <div class="col-md-4 white-text"><%= form.label :workout %></div>
        <div class="col-md-8"><%= collection_select(:activity, :workout_id, Workout.all.sort { |a, b| a.name <=> b.name }, :id, :name, {}, { :multiple => false }) %></div>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="field">
        <div class="col-md-4 white-text"><%= form.label :duration %></div>
        <div class="col-md-8"><%= form.number_field :duration %> minutes</div>
      </div>
    </div>

    <div class="actions mt-3 mb-3">
      <%= form.submit class: "btn login-button" %>
    </div>
  <% end %>
<!--</div>-->