<p id="notice"><%= notice %></p>

<div class="container">
  <div class="login-container py-2 px-2 justify-content-center">

    <h1 class="white-text">Activities</h1>

    <table class="table">
      <thead>
        <tr>
          <th class="white-text">Name</th>
          <th class="white-text">Date</th>
          <th class="white-text">Duration</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.activities.each do |activity| %>
          <tr>
            <td class="white-text"><%= activity.workout.name %></td>
            <td class="white-text"><%= activity.date.strftime("%m/%d/%Y") %></td>
            <td class="white-text"><%= activity.duration %> minutes</td>
            <td><%= link_to 'Edit', edit_activity_path(activity), class: "white-text ml-2" %></td>
            <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "white-text ml-2" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% durationSum = current_user.activities.map { |activity| activity.duration }.sum %>

    <% totalHours = durationSum/60 %>
    <% remainingMinutes = durationSum%60 %>


    <p class="white-text">Total workout duration: <strong><%= totalHours %> hours, <%= remainingMinutes %> minutes</strong></p>
    
    <br>

    <div class="btn mx-1 index-button">
      <%= link_to 'Create New Activity', new_activity_path, class: "button-link-color" %>
    </div>
  </div>
</div>