<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.activities.each do |activity| %>
      <tr>
        <td><%= activity.workout.name %></td>
        <td><%= activity.date.strftime("%m/%d/%Y") %></td>
        <td><%= activity.duration %> minutes</td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% durationSum = current_user.activities.map { |activity| activity.duration }.sum %>

<% totalHours = durationSum/60 %>
<% remainingMinutes = durationSum%60 %>


<p>Total workout duration: <%= totalHours %> hours, <%= remainingMinutes %> minutes</p>

<%= link_to 'New Activity', new_activity_path %>