<!DOCTYPE html>
<html>
  <head>
    <title>MoveAndGroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand brand-text" href="/"><strong>Move & Groove</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="btn btn-info mx-1"><%= link_to('Record Workout', new_activity_path, class: "button-link-color") %></li>
              <li class="btn btn-info mx-1"><%= link_to('My Activity', activities_path, class: "button-link-color") %></li>
              <li class="btn btn-info mx-1"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button-link-color" %></li>
            <% else %>
              <li class="btn btn-info mx-1"><%= link_to('Sign in', new_user_session_path, class: "button-link-color") %></li>
              <li class="btn btn-info mx-1"><%= link_to('Sign up', new_user_registration_path, class: "button-link-color") %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  
  </body>
</html>
